<p id="notice"><%= notice %></p>
<h1><%= @date %></h1>
<% @hours.each do |day, i| %>
<h2><%= day %></h2>

<%= render partial: "hour", locals: {hour: i} %>

<br>
<% end -%>

<%= link_to @date.yesterday, "/accounts/#{@date.yesterday}" %>
<%= link_to @date.tomorrow, "/accounts/#{@date.tomorrow}" unless @date.tomorrow.future? %>