<p id="notice"><%= notice %></p>

<% @hours.each do |day, i| %>
<h1><%= day %></h1>

<table>
  <thead>
    <tr>
      <th>Is spammer</th>
      <th>Name</th>
      <th>Id</th>
      <th>Siblings</th>
      <th>Connected Social?</th>
      <th>Downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i.each do |account| %>
      <tr>
        <td><%= account.is_spammer %></td>
        <td>
          <a href="http://genius.com/<%= account.name %>">
            <%= account.name %>
          </a>
        </td>
        <td><%= account.id %></td>
        <td><%= account.siblings.count %></td>
        <td><%= account.downvotes.count %></td>
        <td><%= account.from_social %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end -%>

<%= link_to 'New Account', new_account_path %>
