<p id="notice"><%= notice %></p>

<p>
  <strong>Is spammer:</strong>
  <%= @account.is_spammer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @account.id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
